{% extends "demos/base.html" %}
{% block content %}
<br>
<article class="media content-section">
    <div class="card border-primary mb-3" style="min-width: 45rem;">
        <div class="card-header">
            <a class="mr-2" href="#">Author</a>
            <small class="text-muted">Date</small>
        </div>
        <h2><a class="article-title" href="#">Title</a></h2>
        <p class="article-content">content</p>
        <div class="card-footer">
            <a class="mr-2">Tags:</a>
            <small class="text-muted">Date</small>
        </div>
    </div>
</article>
{% endblock content %}
